body {
    text-align: center;
}

div#radar_images {
    display: inline-block;
    position: relative;
    margin: auto;

    &:hover {
        animation-play-state: paused;
    }
}

div#radar_images img {

    /*max-width: 100%;*/
    /*max-height: 100%;*/
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    animation: image_cycle 10s infinite;
    
    &:nth-child(1) {
        filter: grayscale(1);
    }

    &:nth-child(n+1) {
        animation-play-state: inherit;
    }

    &:nth-child(1) {
        position: relative;
        visibility: visible;
        animation: none;
    }

    &:nth-child(2) {
        animation-delay: 0s
    }

    &:nth-child(3) {
        animation-delay: 1s
    }

    &:nth-child(4) {
        animation-delay: 2s
    }

    &:nth-child(5) {
        animation-delay: 3s
    }

    &:nth-child(6) {
        animation-delay: 4s
    }

    &:nth-child(7) {
        animation-delay: 5s
    }

    &:nth-child(8) {
        animation-delay: 6s
    }

    &:nth-child(9) {
        animation-delay: 7s
    }

    &:nth-child(10) {
        animation-delay: 8s
    }

    &:nth-child(11) {
        animation-delay: 9s
    }
}

@keyframes image_cycle {
    0% {
        visibility: visible;
    }

    10% {
        visibility: hidden;
    }
}





