<!doctype html>
<html lang="de">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Wo regnet es?</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="preload" href="{{world_image}}" as="image" />
  {{#rain_images}}
  <link rel="preload" href="{{url}}" as="image" />
  {{/rain_images}}
</head>
<body>

<div id="radar_images">
  <div id="osm">
    <img src="{{world_image}}" alt="Karte von Deutschland"/>
    <div id="attribution">
      <p>Map data from <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a></p>
      <p>Radar data from <a href="https://www.dwd.de">DWD</a></p>
    </div>
  </div>
  {{#rain_images}}
  <div class="rain-image">
    <p>{{time_string}} Uhr</p>
    <img src="{{url}}" alt="Regenradarbild vom {{date_string}}"/>
  </div>
  {{/rain_images}}
</div>
</body>
</html>
